# Local dependencies
node_modules/

# TypeScript build outputs
code-types.js
top-actions.js
learn/learn-shared.js
learn/overview/main.js
learn/types/main.js
learn/forward-line/main.js
learn/learning-line/main.js
learn/learning-quad/main.js
*.tsbuildinfo

# npm logs
npm-debug.log*
